{{ $c := .chezmoi.hostname -}}
[data]
  pgpkey = {{ eq $c "gray" }}
  website = {{ eq $c "gray" }}
{{- if eq $c "gray" }}
  [data.backup]
    backup_exclude = ["/.*"]
    small_backup_exclude = ["/USB", "/Git/backup"]
    backup_dir = "BACKUP_GRAY"
{{- else }}
  backup = false
{{- end }}
