{{ $c := .chezmoi.hostname -}}
[data]
  pgpkey = {{ eq $c "gray" }}
  website = {{ eq $c "gray" }}
  chezmoi_location = "{{ if or (eq $c "gray") (eq $c "white") }}/usr/bin/chezmoi{{ end }}{{ if eq $c "fme-desktop" }}/$HOME/.local/bin/chezmoi{{ end }}"
{{- if eq $c "gray" }}
  [data.backup]
    backup_exclude = ["/.*"]
    small_backup_exclude = ["/USB", "/Git/backup"]
    backup_dir = "BACKUP_GRAY"
{{- else }}
  backup = false
{{- end }}
