alias clear="printf '\033c'"

# Colors
alias ls="ls -hv --color=auto --group-directories-first"
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
alias diff="diff --color=auto"

# Options aliases
alias cp="cp --interactive"
alias mv="mv --interactive"
alias mkdir="mkdir --parents"

# Shortcuts
alias v="vim"

{{- if ne .chezmoi.hostname "fme-desktop" }}

# Zsh aliases
alias -g l="|less"
alias -g e="|entr"
alias -g null="> /dev/null 2>&1"
{{- end }}

# Chezmoi
{{- if eq .chezmoi.hostname "fme-desktop" }}
alias chezmoi="$HOME/.local/bin/chezmoi"
{{- end }}
alias c="chezmoi"
alias ce="chezmoi edit"

# Git
alias g="git"
alias gs="git status"
alias gc="git commit -m"
alias gd="git diff"
alias ga="git add"
alias gpl="git pull"
alias gps="git push"
alias gsh="git stash"

{{ if ne .chezmoi.hostname "fme-desktop" -}}
{{- if eq .chezmoi.osRelease.id "debian" -}}
alias upgrade="sudo apt-get update && sudo apt-get upgrade"
alias ag="sudo apt-get"
{{- else -}}
alias upgrade="sudo pacman -Syyu"
alias p="sudo pacman"
{{- end }}
{{- end }}

{{- if eq .chezmoi.hostname "fme-desktop" }}
alias vscode="$HOME/KOLMOGOROV/VSCode-linux-x64/bin/code"
{{- end }}

{{- if .backup }}

# Backup to external HD
alias backup_all="rsync -loptruzvP --delete --exclude={{ if gt (len .backup.backup_exclude) 1 -}} { {{- end }}
  {{- range $i, $dir := .backup.backup_exclude }}
    {{- if $i -}}
      ,
    {{- end -}}
    '{{ $dir }}'
  {{- end -}}
{{ if gt (len .backup.backup_exclude) 1 -}} } {{- end }} $HOME/ /media/$USER/OSCAR/.{{ .backup.backup_dir }}/"

# Encrypted backup to USB
backup_vc_10_11() {
  veracrypt --mount /media/$USER/Oscar/Varis/copia-gris.hc --slot="10"
  veracrypt --mount /media/$USER/Oscar/Varis/copia-gris-git.hc --slot="11"
  rsync -gloptruzvP --delete --exclude={"/Git",
  {{- range $i, $dir := .backup.backup_exclude }}
    {{- if $i -}}
      ,
    {{- end -}}
    "{{ $dir }}"
  {{- end -}}
  {{ range $dir := .backup.small_backup_exclude -}}
    ,"{{ $dir }}"
  {{- end -}}
  } $HOME/ /media/veracrypt10/{{ .backup.backup_dir }}/
  rsync -gloptruzvP --delete $HOME/Git/ /media/veracrypt11/{{ .backup.backup_dir }}/
  veracrypt --dismount /media/$USER/Oscar/Varis/copia-gris.hc
  veracrypt --dismount /media/$USER/Oscar/Varis/copia-gris-git.hc
}

# Backup the contents of the USB
alias backup_usb="rsync -gloptruzvP --delete --exclude={'/Varis/copia-gris.hc','/Varis/copia-gris-git.hc','/.Trash-1000','/.Trashes','/.Spotlight-V100'} /media/$USER/Oscar/ /home/oscar/USB/"
{{- end }}
{{- if eq .chezmoi.hostname "fme-desktop" }}
setxkbmap -option "caps:swapescape"     # Switch caps and escape
{{- end }}
